[project]
name = "dev-tools"
version = "0.1.0"
description = "Python package"
authors = [{name = "Quinten Roets", email = "qdr2104@columbia.edu"}]
license = {text = "MIT"}
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "typer>=0.9"
]

[project.optional-dependencies]
dev = [
    "build",
    "bump2version",
    "coverage",
    "hypothesis",
    "pre-commit",
    "pytest",
    "pytest-mypy-plugins",
]

[project.urls]
"Source Code" = "https://github.com/quintenroets/dev-tools"

[project.scripts]
dev_tools = "dev_tools.cli:entry_point"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.package-data]
dev_tools = ["py.typed"]

[tool.ruff]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "UP",  # pyupgrade
]
fix = true

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]

[tool.mypy]
strict = true
no_implicit_reexport = false
